---
import type { PostMarkdown } from '@/types/post';
import type { MarkdownLayoutProps } from 'astro';

import { PostDate } from '@/components/PostDate';
import { PostHeadings } from '@/components/PostHeadings';
import { TagList } from '@/components/TagList';
import { Typography } from '@/components/Typography';
import PageLayout from '@/layouts/PageLayout.astro';

type Props = MarkdownLayoutProps<PostMarkdown>;

const props = Astro.props;

---

<PageLayout title={props.frontmatter.title} description={props.frontmatter.seo_description} keywords={props.frontmatter.seo_tags || props.frontmatter.tags} url={props.url}>
  <header class="header">
    <h1 class="title">{props.frontmatter.title}</h1>
    <div class="postInfo">
      <PostDate dateIso={props.frontmatter.created} showIcon />
      <TagList tags={props.frontmatter.tags} />
    </div>
    <PostHeadings client:load headings={props.headings} />
  </header>
  <Typography>
    <slot />
  </Typography>
</PageLayout>

<style>
  .header {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
    margin-bottom: var(--gap-3);
  }

  .title {
    font-size: var(--font-size-4);
    text-wrap: balance;
  }

  .postInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap-3);
  }

  @media (--viewport-desktop) {
    .postInfo {
      flex-wrap: nowrap;
    }
  }
</style>
