---
import { SITE_AUTHOR, SITE_TITLE } from '@/constants/site';
import '@/utils/analytics';
import '@fontsource-variable/jetbrains-mono';
import '@fontsource-variable/open-sans';
import 'bootstrap-icons/font/bootstrap-icons.css';
import prismOneDarkUrl from 'prism-themes/themes/prism-one-dark.css?url';
import prismOneLightUrl from 'prism-themes/themes/prism-one-light.css?url';

import type { RootLayoutProps } from '../types/layout';

import { Copyright } from '../components/Copyright';
import { MenuButton } from '../components/MenuButton';
import { Navigation } from '../components/Navigation';
import { SiteName } from '../components/SiteName';
import { SocialNav } from '../components/SocialNav';
import '../styles/globals.css';
type Props = RootLayoutProps;

const { description, keywords, title, noindex, createdAt, modifiedAt } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    {keywords && <meta name="keywords" content={keywords.join(', ')} />}
    <link rel="canonical" href={Astro.url} />
    {noindex && <meta name="robots" content="noindex, nofollow" />}

    {/* <meta property="og:locale" content="en_US" /> */}
    <meta property="og:type" content="article" />
    <meta property="og:title" content={title} />
    {description && <meta property="og:description" content={description} />}
    {/* <meta property="og:image" content="LINK TO THE IMAGE FILE" /> */}
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content={SITE_TITLE} />
    {modifiedAt && <meta property="og:updated_time" content={modifiedAt} />}

    {createdAt && <meta property="article:published_time" content={createdAt} />}
    {modifiedAt && <meta property="article:modified_time" content={modifiedAt} />}
    <meta property="article:section" content={title} />
    {keywords && keywords.map((keyword) => <meta property="article:tag" content={keyword} />)}
    <meta name="author" content={SITE_AUTHOR} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <link href="/sitemap-index.xml" rel="sitemap" />
    <link href={prismOneLightUrl} media="(prefers-color-scheme: light)" rel="stylesheet" />
    <link href={prismOneDarkUrl} media="(prefers-color-scheme: dark)" rel="stylesheet" />

    <link href="/images/icons/favicon.png" rel="icon" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E2F75QK070"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-E2F75QK070');
    </script>

    {process.env.NODE_ENV === 'production' && <script async src="/service-worker-register.js" type="module" />}
  </head>
  <body class="container">
    <header class="header">
      <SiteName />
      <div class="navigation">
        <Navigation />
      </div>
      <div class="icons-mobile">
        <MenuButton client:load />
      </div>
      <div class="icons-desktop">
        <SocialNav />
      </div>
    </header>
    <slot />
    <footer class="footer">
      <Copyright />
    </footer>
  </body>
</html>

<style is:global>
  body {
    font-family: 'Open Sans Variable', sans-serif;
  }
  code {
    font-family: 'JetBrains Mono Variable', sans-serif;
  }
</style>

<style>
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5rem 1fr 4rem;
  }

  .header {
    background: linear-gradient(0deg, var(--color-blue-1), transparent);
    display: flex;
    align-items: center;
    padding: 0 var(--gap-2);
  }

  .navigation {
    margin-left: var(--gap-6);
    flex-grow: 1;
  }

  .footer {
    background: var(--color-blue-1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons-mobile,
  .icons-desktop {
    display: none;
  }

  @media (--viewport-mobile) {
    .navigation {
      display: none;
    }

    .icons-mobile {
      display: flex;
      align-items: center;
      gap: var(--gap-2);
    }
  }

  @media (--viewport-desktop) {
    .icons-desktop {
      display: flex;
      gap: var(--gap-4);
    }
  }
</style>
