---
import { Copyright } from '../components/Copyright';
import { SiteName } from '../components/SiteName';
import { SocialNav } from '../components/SocialNav';
import { UpdatePwaDialog } from '../components/UpdatePwaDialog';
import { SITE_AUTHOR, APP_NAME } from '@/constants';
import '../styles/globals.css';
import prismOneLightUrl from 'prism-themes/themes/prism-one-light.css?url';
import prismOneDarkUrl from 'prism-themes/themes/prism-one-dark.css?url';
import '@fontsource-variable/open-sans';
import '@fontsource-variable/jetbrains-mono';

import type { RootLayoutProps } from '../types/layout';
type Props = RootLayoutProps;

const { title, description, keywords } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    {keywords && <meta name="keywords" content={keywords.join(', ')} />}
    <meta name="application-name" content={APP_NAME} />
    <meta name="author" content={SITE_AUTHOR} />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="robots" content="index, follow" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content={APP_NAME} />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <link rel="manifest" href="/app.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="stylesheet" href={prismOneLightUrl} media="(prefers-color-scheme: light)" />
    <link rel="stylesheet" href={prismOneDarkUrl} media="(prefers-color-scheme: dark)" />
    <link
      href="/images/pwa/splash/apple-splash-2048-2732.jpg"
      media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/images/pwa/splash/apple-splash-1668-2388.jpg"
      media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/images/pwa/splash/apple-splash-1536-2048.jpg"
      media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/images/pwa/splash/apple-splash-1668-2224.jpg"
      media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/images/pwa/splash/apple-splash-1620-2160.jpg"
      media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/images/pwa/splash/apple-splash-1290-2796.jpg"
      media="(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/images/pwa/splash/apple-splash-1179-2556.jpg"
      media="(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/images/pwa/splash/apple-splash-1284-2778.jpg"
      media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/images/pwa/splash/apple-splash-1170-2532.jpg"
      media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/images/pwa/splash/apple-splash-1125-2436.jpg"
      media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/images/pwa/splash/apple-splash-1242-2688.jpg"
      media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/images/pwa/splash/apple-splash-828-1792.jpg"
      media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/images/pwa/splash/apple-splash-1242-2208.jpg"
      media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/images/pwa/splash/apple-splash-750-1334.jpg"
      media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      rel="apple-touch-startup-image"
    />
    <link
      href="/images/pwa/splash/apple-splash-640-1136.jpg"
      media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      rel="apple-touch-startup-image"
    />

    <link rel="icon" href="/images/icons/favicon.png" />
    {process.env.NODE_ENV === 'production' && <script src="/service-worker-register.js" type="module" async />}
  </head>
  <body class="container">
    <header class="header">
      <SiteName />
      {/* <Navigation /> */}
      <SocialNav />
    </header>
    <slot />
    <footer class="footer">
      <Copyright />
    </footer>
    <UpdatePwaDialog />
  </body>
</html>

<style is:global>
  body {
    font-family: 'Open Sans Variable', sans-serif;
  }
  code {
    font-family: 'JetBrains Mono Variable', sans-serif;
  }
</style>

<style>
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5rem 1fr 4rem;
  }

  .header {
    background: linear-gradient(0deg, var(--color-blue-1), transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--gap-2);
  }

  .footer {
    background: var(--color-blue-1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
